body {
  font-family: 'Poppins', sans-serif;
  background: rgb(46, 46, 57);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: #fff;
  padding: 20px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.username-input, .email-input, .password-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #2e2e39;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4f4f61;
}

.container-button {
  margin-top: 10px;
}

.container-button button {
  background: none;
  color: #007bff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.container-button button:hover {
  text-decoration: underline;
}
